@{
    ViewData["Title"] = "Listar Funcionários";
}

@section scripts{

    <script>


            $(".excluir").click(function () {

                $("#modalConfirmacao").modal('show');

                var cpf = $(this).attr("data-id");
                var link = "@Url.Action("Excluir")";

                link += `?cpf=${cpf}`;

                $(".confirma").click(function () {
                    location.href = link;
                })

            });

        
    </script>
}

@model WebSite.Funcionarios.Models.BuscaViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <p class="h1 text-info">@ViewData["Title"]</p>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="col-12">

        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }
        @if (TempData["Error"] != null)
        {
            <p class="alert alert-danger" id="successMessage">@TempData["Error"]</p>
        }
        <div class="row">

            <form method="post" asp-action="Buscar">
                <div class="row">

                    <div class="col-6">
                        <label asp-for="Nome" class="form-label">Nome(*): </label>
                        <input asp-for="Nome" type="text" class="form-control" placeholder="">

                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="DepartamentoId">Departamento(*):</label>
                            <select asp-for="DepartamentoId" class="custom-select" placeholder="Selecione">
                                <option value="0">Selecione</option>
                                @if (ViewData["Departamentos"] != null)
                                {
                                    foreach (var item in (List<WebSite.Funcionarios.Models.DepartamentoViewModel>)ViewData["Departamentos"])
                                    {
                                        <option value="@item.DepartamentoId">@item.Descricao</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Pesquisar <i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>

                </div>

            </form>

            @if (ViewData["Registros"] != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">CPF</th>
                            <th scope="col">Nome</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in (List<FuncionarioViewModel>)ViewData["Registros"])
                        {
                            if (item.Status == "Ativo")
                            {
                                <tr class="table-success">
                                    <th>@item.Cpf</th>
                                    <td>@item.Nome</td>
                                    <td>
                                        <a href="@Url.Action("Alterar", new { cpf = item.Cpf, nome = item.Nome, idade = item.Idade,status = item.Status, departamentoId  = item.DepartamentoId, funcaoId = item.FuncaoId })" class="btn btn-info"><i class="fa-solid fa-pencil"></i></a>
                                        <button data-id="@item.Cpf" class="excluir btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                    </td>
                                </tr>
                            }
                            if (item.Status == "Ausente")
                            {
                                <tr class="table-warning">
                                    <th>@item.Cpf</th>
                                    <td>@item.Nome</td>
                                    <td>
                                        <a href="@Url.Action("Alterar", new { cpf = item.Cpf, nome = item.Nome, idade = item.Idade,status = item.Status, departamentoId  = item.DepartamentoId, funcaoId = item.FuncaoId })" class="btn btn-info"><i class="fa-solid fa-pencil"></i></a>
                                        <button data-id="@item.Cpf" class="excluir btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                    </td>
                                </tr>
                            }
                            if (item.Status == "Desligado")
                            {
                                <tr class="table-danger">
                                    <th>@item.Cpf</th>
                                    <td>@item.Nome</td>
                                    <td>
                                        <a href="@Url.Action("Alterar", new { cpf = item.Cpf, nome = item.Nome, idade = item.Idade,status = item.Status, departamentoId  = item.DepartamentoId, funcaoId = item.FuncaoId })" class="btn btn-info"><i class="fa-solid fa-pencil"></i></a>
                                        <button data-id="@item.Cpf" class="excluir btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                    </td>
                                </tr>
                            }

                        }


                    </tbody>
                </table>
            }

        </div>

    </div>

</div>


<div class="modal" id="modalConfirmacao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja Excluir o Funcionário?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="confirma btn btn-primary">Sim</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
